{% extends "app/base.html" %}

{% block head %}
  {% load static %}
  
{% endblock %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Цены</h1>
    <p class="lead">Подпски на цены</p>
</div>


<div class = "container">
  <div class = "row">
    <div class = "col-sm-4">
      <div class = "card border-radius-2 box-shadow mb-4">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class = "card-header">
          Подписка 1
        </div>
        <div class = "card-body">
          <div class = "card-title pricing-card-title">
            10 тенге
          </div>
        </div>
      </div>
    </div>
    <div class = "col-sm-4">
      <div class = "card box-shadow mb-4">
        <div class = "card-header">
          Подписка 2
        </div>
        <div class = "card-body">
          <div class = "card-title pricing-card-title">
            20 тенге
          </div>
        </div>
      </div>
    </div>

    <div class = "col-sm-4">
      <div class = "card box-shadow mb-4">
        <div class = "card-header">
          Подписка 3
        </div>
        <div class = "card-body">
          <div class = "card-title pricing-card-title">
            30 тенге
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}