{% extends 'app/base.html' %}


{% block content %}
    <div class = "container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class = "row">
                <div class = "col-lg-4 left-info">
                    <div class = "avatar form">
                        {% if user.avatar %}
                            <img src="{{ user.avatar.url }}" class = "bd-placeholder-img rounded-circle" alt="">
                        {% endif %}
                        {{ form.avatar }}
                    </div>
                </div>
                <div class = "col-lg-2 right-info">
                    <div>
                    {{ user.phone_number }}
                    </div>
                    {{ form.phone_number }}

                    {{ user.birth_date }}
                    {{ form.birth_date }}
                </div>
            </div>
            <button type = "submit"> Изменить </button>
            {{ form.errors}}
        </form>
    </div>
{% endblock %}