{% extends 'app/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href={% static "app/css/shops/index.css" %}>
{% endblock %}
{% block content %}
    <div class = "container">
        <div class = "album py-5 bg-light">
            <div class = "container">
                <div class = "shop row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for shop in page_obj %}
                    
                    <div class = "col">
                        <div class = "card shadow-sm">
                            {{ shop.name }}
                            <div class = "card-body">
                                {% for product in shop.product_set.all|slice:":3" %}
                                    <div class = "product card-text">
                                        {{ product.name }} - 
                                        {{ product.cost }}
                                    </div>
                                {% endfor %}
                                <div class = "d-flex justify-content-between align-items-center">
                                    <div class = "btn-group">
                                        <a href = {{shop.url}} type="button" class="btn btn-sm btn-outline-secondary">Перейти в магазин</a>
                                        <a type="button" class="btn btn-sm btn-outline-secondary">Просмотреть все товары</a>
                                    </div>
                                    <small class="text-muted">{{shop.product_set.all|length}} товар</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class = "mx-auto">
            {% include 'app/share/pagination.html' %}
        </div>
    </div>
    
{% endblock %}
