{% extends 'app/base.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'app/css/shops/show.css' %}">
{% endblock %}

{% block content %}
    <div class = "container marketing">
        <div class = "mt-5 mb-5  shop-name d-flex align-items-center">
            <div class = "text-center w-100">
                <h1> {{ shop.name }} </h1>
            </div>
        </div>
        <div class = "row text-center">
            {% for product in page_obj %}  
                <div class = "col-lg-4">
                    <img src = {{product.image.url}} class  = "bd-placeholder-img" height = "140"></img>
                    <h3 style = "height: 100px;">{{product.name}}</h3>
                    <p><a class="btn btn-secondary" href={% url 'product' id=product.id%}>Посмотреть детали »</a></p>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include "app/share/pagination.html" %}
{% endblock %}