<head>
    {% load bootstrap5 %}
    {% load static %}

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'app/css/base.css' %}" rel="stylesheet" type="text/css">
    
    {% block head %}
    {% endblock %}
    <link rel = "stylesheet" href = {% static "app/css/share/header.css" %}>
    <link rel="stylesheet" href={% static "app/css/colors.css" %}>
</head>
{% include 'app/share/header.html' %}
<div class = "content">
    {% block content %}

    {% endblock %}
    {% include 'app/share/footer.html' %}
</div>
